//$font-stack: 'Inter', sans-serif;
//$primary-color: #333;
//$background-color: rgb(255, 255, 255);

body {

    background: #fafafa;
    font-weight: 300;
    font-size: 16px;
    color: #555;
    font-family: 'Nato';
    margin: 0;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;

    margin-top: 70px;
}


.header1 {
    background-color: rgb(220, 237, 31);
    height: 300px;
    display: flex;
    align-items: center;
    padding: 0 4rem !important;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}


.headertext1 {
    margin: 0 1rem;
    text-transform: uppercase;
    font-size: 15rem;
    font-weight: bold;
    background: linear-gradient(46deg, rgb(2, 2, 250), red, rgb(173, 3, 173));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Nato', serif;
}

.logo1 {
    max-height: 220px;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noto Serif, italic';
    font-weight: 400;
    color: #333;
}

p {
    line-height: 28px;
    ;
}

.card-text {
    line-height: 28px;
    margin-bottom: 25px;
    color: rgb(5, 5, 5)
}

// .centered {
//     text-align: center;

//}

a {
    color: #333;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

.navbar-brand {
    color: #999;
    font-weight: bolder;
    font-size: 30px;
    letter-spacing: 1px;
}



section {

    padding-top: 100px;
    padding-left: 200px;

}


.buttontext {
    font-weight: 900;

}

.container__of__all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.m-bottom {
    margin-bottom: 2rem;
}

.img-fit {
    width: 50%;
    object-fit: cover;
    height: 500px;
}

.unter-text {
    font-family: 'Noto';
    text-align: center;
    font-weight: 100;
    color: #333;
}

.responsive {
    max-width: 100%;
    max-width: 400px;
    height: auto;
  }


@media screen and (max-width: 800px) {
    .header1 {
        height: 100px;
    }

    .headertext1 {
        color: #aff;
        font-size: 3rem;
    }

    .logo1 {
        max-height: 80px;
    }

    

    @media screen and (max-width: 800px) {

        //(max-width: 650px)
        // .container {}
        .column {
            width: 100%;
            display: block;
        }

        
    }









}